body {
    font-family: Arial, sans-serif;
    background-image: url('/static/wallpaperflare.com_wallpaper.jpg'); /* Add your background image */
    background-size: cover; /* Ensure the image covers the whole page */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Ensure the background stays fixed during scrolling */
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333; /* Optional: Change text color to ensure readability */
}

    


.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

#drop-area.highlight {
    border-color: #28a745;
}

#drop-area p {
    margin: 0;
    font-size: 16px;
    color: #666;
}

input[type="file"] {
    display: none; /* Hide the default file input */
}

label.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

label.btn:hover {
    background-color: #218838;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}
